[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
psycopg2-binary = "*"
dj-database-url = "*"
django-extensions = "*"
django-debug-toolbar = "==3.2.2"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
redis = "==3.5.3"
django-environ = "*"
django-redis = "*"
django-split-settings = "*"
django-stubs-ext = "*"
decouple = "*"
django-filter = "*"
django-timezone-field = "*"
daphne = "*"
pytest-django = "*"
django-cors-headers = "*"
channels = "==3.0.4"
channels-redis = "==3.3.1"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10.8"
